---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";
import Highlight from "../components/Highlight.astro";

import { getHomepage } from "../utils/sanity";
import { getPosts } from "../utils/sanity";

const homepage = await getHomepage();
const { heroText, heroSlides } = homepage.hero;
const { text, button, image } = homepage.highlight;

const posts = await getPosts();
---

<Layout title="Home">
  <Hero heroText={heroText} heroSlides={heroSlides} />

  <section class="posts">
    <div class="container stretch">
      {
        posts.length ? (
          posts.map((post) => <Card post={post} />)
        ) : (
          <p>no posts</p>
        )
      }
    </div>
  </section>

  <Highlight text={text} button={button} image={image} />
</Layout>

<style>
  .posts .container {
    padding: var(--space-8) var(--gap-default);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--gap-default);
  }
</style>
