---
import Layout from "../../layouts/Layout.astro";
import RelatedPosts from "../../components/RelatedPosts.astro";

import type { InferGetStaticParamsType } from "astro";
import { Image } from "astro:assets";
import { PortableText } from "astro-portabletext";
import { formatDate } from "../../utils";
import { getPost, getPosts } from "../../utils/sanity";
import { urlFor } from "../../utils/image";

// import type { Image } from "@sanity/types";

export const prerender = true;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
const { slug } = Astro.params as Params;

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug.current },
  }));
}

function extractDomain(url: string) {
  const urlObject = new URL(url);
  return urlObject.hostname;
}

const post = await getPost(slug);
const domain = post.url ? extractDomain(post.url) : "";

export interface ImageAsset {
  _type: "image";
  asset: {
    _ref: string;
    _type: "reference";
  };
}

const imageUrl = post.mainImage?.asset
  ? urlFor(post.mainImage.asset).url()
  : "";

console.log("post image:", post.mainImage);
---

<Layout title={post.title!}>
  <section class="container stretch">
    <div class="page__title">
      <a transition:name="pagetitle" href="../articles">Articles</a>
    </div>

    <div class="post__wrapper">
      <div class="post__content">
        <h1 class="post__title">{post.title}</h1>
        <div class="post__meta">
          <p class="post__cat">{post.category}</p>
          <p class="post__date">
            {formatDate(post._createdAt)}
          </p>
        </div>
        <p class="post__excerpt">{post.excerpt}</p>

        <div class="post__content">
          <PortableText value={post.body} />
        </div>

        {
          post.url && (
            <a
              href={post.url}
              class="button post__link"
              target="_blank"
              title={`Read more on ${domain}`}
            >
              Read more
            </a>
          )
        }
      </div>
      {
        post.mainImage ? (
          <Image
            src={imageUrl}
            widths={[240, 540, 720, 1080]}
            inferSize
            sizes="(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1080px) 720px, 1080px"
            alt="Cover image"
            class="post__cover"
          />
        ) : (
          <div class="post__cover--none" />
        )
      }
    </div>
  </section>
  <RelatedPosts currentSlug={slug} />
</Layout>

<style>
  .page__title {
    font-family: var(--font-family-serif);
    font-size: var(--fontsize-0);
    font-weight: 700;
    padding: var(--space-2xl) 0 var(--space-xs) 0;
  }

  .page__title a {
    color: var(--neutral-400);
    text-decoration: none;
  }

  .post__wrapper {
    width: 100%;
    margin: var(--space-1) 0 var(--space-4);
    padding-bottom: 3rem;
    display: grid;
  }

  .post__content {
    order: 2;
  }

  .post__title {
    font-family: var(--font-family-serif);
    font-size: var(--fontsize-9);
    margin-top: var(--space-s);
    margin-bottom: var(--space-2xs);
  }

  .post__meta {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: var(--space-1);
    color: var(--neutral-600);
  }

  .post__cat,
  .post__date {
    font-family: var(--font-family-sans);
    font-size: var(--fontsize--2);
    font-weight: 600;
    margin: 0;
  }

  .post__date {
    font-weight: 500;
    color: var(--neutral-500);
  }

  .post__excerpt {
    font-family: var(--font-family-sans);
    font-size: var(--fontsize-3);
    font-weight: 600;
  }

  .post__content {
    font-family: var(--font-family-sans);
    font-weight: 400;
    /* font-size: var(--fontsize-2); */

    letter-spacing: -0.02em;
  }

  .post__link {
    font-size: var(--fontsize--1);
    background-color: #f4f4f4;
    border-radius: var(--radius-full);
    padding: var(--space-s) var(--space-l);
    text-decoration: none;
    border-color: var(--neutral-300);
  }

  .post__link:hover {
    background-color: var(--neutral-900);
    color: var(--neutral-100);
  }

  .post__cover,
  .post__cover--none {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 1;
    order: 1;
    border-radius: var(--radius-default);
  }

  .post__cover--none {
    background: var(--neutral-background);
    display: none;
  }

  @media (min-width: 906px) {
    .post__wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
      gap: var(--space-2xl);
    }
    .post__cover,
    .post__cover--none {
      display: block;
      width: 100%;
      height: 80vh;
      order: 2;

      position: sticky;
      top: 10vh;
    }

    .post__title {
      font-size: var(--fontsize-6);
      font-weight: 600;
      margin: var(--space-1xl) 0;
      letter-spacing: -0.025em;
      margin-bottom: var(--space-xl);
    }

    .post__excerpt {
      font-size: var(--fontsize-2);
      line-height: 112.5%;
      margin-top: var(--space-xs);
      margin-bottom: var(--space-m);
    }

    .post__content {
      margin-bottom: var(--space-1xs);
      font-size: var(--fontsize-0);
      margin-bottom: var(--space-xl);
    }
  }
</style>
