---
import { formatDate } from "../utils";
import { urlFor } from "../utils/image";
import type { Post } from "../utils/sanity";

interface Props {
  post: Post;
}

const { post } = Astro.props;

function extractDomain(url) {
  const urlObject = new URL(url);
  return urlObject.hostname;
}

const domain = post.url ? extractDomain(post.url) : "";
---

<div class="card">
  {
    post.mainImage ? (
      <img
        class="card__cover"
        src={urlFor(post.mainImage).width(500).height(300).url()}
        alt="Cover image"
      />
    ) : (
      <div class="card__cover--none" />
    )
  }
  <div class="card__container">
    <div class="card__top">
      <p class="card__cat">{post.category}</p>
      <h3 class="card__title">
        <a class="card__link" href={`/post/${post.slug.current}`}>
          {post.title}
        </a>
      </h3>
    </div>
    <div class="card__bottom">
      <p class="card__excerpt">{post.excerpt}</p>
      <div class="card__footer">
        {
          post.url && (
            <a href={post.url} class="card__url">
              {domain}
            </a>
          )
        }
        <p class="card__date">
          {formatDate(post._createdAt)}
        </p>
      </div>
    </div>
  </div>

  <style>
    .card {
      display: flex;
      flex-direction: row;
      padding: var(--space-2);
      padding: 1rem;
      position: relative;
      /* border-bottom: 1px solid #ced2d9; */
      min-height: 40vh;
      border-radius: 1rem;
      overflow: hidden;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 0, 0, 0.5); /* Semi-transparante overlay */
        z-index: 1;
        pointer-events: none; /* Zorgt ervoor dat de overlay geen interacties blokkeert */
      }

      & .card__container {
        margin: 0 var(--space-1) 0;
        z-index: 2;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      & .card__cover {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: -1;

        &::after {
          content: "hello";
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 0, 0, 0.5); /* Semi-transparante rode overlay */
          z-index: 1;
          pointer-events: none; /* Zorgt ervoor dat de overlay geen interacties blokkeert */
        }
      }

      & .card__cover--none {
        width: 100%;

        background: var(--black);
      }
      & .card__cat {
        font-size: var(--font-size-1);
      }

      & .card__title {
        font-family: var(--font-family-sans);
        font-weight: 800;
        font-size: var(--font-size-7);
        line-height: var(--line-height-6);
        letter-spacing: -0.025em;
        margin: var(--space-3) 0;
      }

      & .card__excerpt {
        font-family: var(--font-family-serif);
        font-weight: 400;
        font-size: var(--font-size-2);
        line-height: var(--line-height-3);
        margin-top: 0;
        /* truncate */
        display: -webkit-box;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      & .card__footer {
        display: flex;
        justify-content: space-between;

        align-items: baseline;
        margin-top: var(--space-4);

        & .card__date {
          font-weight: 600;
          font-family: var(--font-family-sans);
          font-size: var(--font-size-1);
          margin-top: calc(var(----space-4) + 7);
        }

        & .card__url {
          padding: 1rem;
          color: var(--black);
          text-decoration: none;
          border-radius: 100vw;
          z-index: 10;
          background-color: yellow;

          &:hover {
            opacity: 0.8;
            transition: 0.2s;
          }
        }
      }

      & .card__link {
        color: var(--black);
        text-decoration: none;

        &:hover {
          opacity: 0.8;
          transition: 0.2s;
        }

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          z-index: 0;
        }
      }

      /* &:first-child {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }

      &:last-child {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
      } */
    }

    @media (min-width: 575px) {
      .card {
        /* border: 1px solid #ced2d9; */
        border-bottom: none;

        & .card__title {
          margin-top: var(--space-4);
        }

        &:last-child {
          /* border-bottom: 1px solid #ced2d9; */
        }
      }
    }

    @media (min-width: 800px) {
      .card {
        flex-direction: row;

        & .card__container {
          margin: 0 var(--space-4) 0;
        }

        & .card__cover,
        & .card__cover--none {
          width: 100%;
          height: 100%;
        }
      }
    }
  </style>
</div>
