---
import "../assets/scss/global.scss";
import "../assets/scss/main.scss";
import SiteMeta from "../components/SiteMeta.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const {
  title = "Jacuqes Buith",
  description = "Senior leader with diverse experience in sustainability, risk management, technology transformation and governance. Strategic advisor to Boards and Executive teams.",
  url,
  image = "/social-preview-image.jpg",
  author = "Jacuqes Buith",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500;700&family=Inter:wght@500;700;800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- favicon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SiteMeta
      title={title}
      description={description.substring(0, 100)}
      url={Astro.site
        ? `${Astro.site}/${title.toLowerCase().replaceAll(" ", "-")}`
        : `https://mier.as/${title.toLowerCase().replaceAll(" ", "-")}`}
      image={image}
      author={author}
    />
  </head>
  <body>
    <div class="">
      <Header />
      <main>
        <slot />
      </main>
      <Footer />
    </div>

    <style is:global>
      :root {
      }

      html {
        background-color: var(--white);
        font-family: var(--font-family-sans), var(--font-family-serif),
          sans-serif;
        text-size-adjust: 100%;
      }

      body {
        margin: 0;
      }
    </style>
  </body>
</html>
